.wrapper{
    /* border: 1px black solid; */
}



/* 打线框 */
.Header{
 position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 64px;
    background: rgba(255,255,255,0.7) ;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
}

.Header .container{
  margin-left: 16px;
  margin-right: 16px;

}

.Header .container .wrapper {
    max-width: 1080px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head_link_data .head_ul{
    display: flex;
    height: 64px;
}

.head_link_data .head_ul li{
    list-style: none;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #555;
    font-size: 1rem;
    font-weight: bold;
  transition: ease .6S;

}
.head_link_data .head_ul li:hover{
    background-color: rgba(33,150,243,0.2);
    border-bottom: 2px #2196f3 solid;
}
.head_link_data .head_ul li.active{
    border-bottom: 2px #2196f3 solid;
    color: #2196f3;

}


.head_link_data .head_ul li a span{
    padding-right: 5px;
   
}

.head_search_input{
    width: 120px;
    border: 1px black solid;
}





  


   
